* {
    margin: 0;
    padding: 0;
    outline: none;
}

.blur-bg {
    width: 100%;
    height: 100vh;
    background: url("../../assets/images/header-bg.png") no-repeat;
    z-index: 0;
}

.navbar {
    filter: none;
    margin-bottom: -72px;
    z-index: 10;
    display: flex;
    flex-wrap: nowrap;
}

.navbar-nav a {
    margin: 0 10px 0 10px;
    font-size: x-large !important;
    color: white;
}

.navbar-brand img{
    width: 200px;
}

.navbar-collapse {
    width: 100%;
    display: flex;
    justify-content: right;
}

.intro {
    width: 100%;
    margin-top: -650px;
    display: flex;
    justify-content: center;
}

.main-intro {
    border: 1px solid black;
    min-width: 600px;
    text-align: center;
}

.intro-title{
    color: purple;
    font-size: 100px;
}

.main-intro h1 img {
    width: 400px;
}

.intro-desc {
    font-size: xx-large;
    color: purple;
}
