:root {
    --main-color: #2c3e50;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/*======================= Navbar =======================*/

.navbar {
    background-color: #ffff;
    min-height: 100px;
    border-bottom: 5px solid var(--main-color);
    display: flex;
}

.nav-controls {
    width: 100%;
    max-height: 95px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.nav-option {
    padding: 0 25px 0px 25px;
    font-size: x-large;
}

.nav-option a {
    text-decoration: none;
    color : var(--main-color);
    font-weight: bold;
    transition: 0.5s all;
}

.nav-option a:hover {
    text-decoration: underline;
}

.nav-brand-div {
    width: auto;
    max-height: 95px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

