:root {
    --main-color: #2c3e50;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/*======================= Navbar =======================*/

.navbar {
    background-color: #ffff;
    min-height: 100px;
    border-bottom: 5px solid var(--main-color);
    display: flex;
}

.nav-controls {
    width: 100%;
    max-height: 95px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.nav-option {
    padding: 0 25px 0px 25px;
    font-size: x-large;
}

.nav-option a {
    text-decoration: none;
    color : var(--main-color);
    font-weight: bold;
    transition: 0.5s all;
}

.nav-option a:hover {
    text-decoration: underline;
}

.nav-brand-div {
    width: auto;
    max-height: 95px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

/*======================= Intro =======================*/

.intro {
    width: 100%;
    height: 92vh;
    background-image: url("../../assets/images/bg.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-container {
    display: block;
    text-align: center;
    margin-top: -50px;
    background: rgb(255 255 255 / 0.8);
    padding: 40px 20px;
    border-radius: 20px;
}

.intro .profile-image{
    width: 300px;
    border-radius: 50%;
}

.intro .intro-title {
    font-size: 100px;
    color: var(--main-color);
}

.intro .intro-desc {
    font-size: xx-large;
}

header {
    border-bottom: 5px solid var(--main-color);
}

/*======================= About Section =======================*/

.bold {
    font-weight: bold;
}

.main-color {
    color: var(--main-color);
}

.underline {
    border-bottom: 5px solid darkgray;
}

.about {
    width: 100%;
    height: 80vh;
    text-align: center;
    margin-top: 30px;
    border-bottom: 5px solid var(--main-color);
}

.about-title {
    font-size: 80px;
    margin-bottom: 10px;
}

.about-desc {
    font-size: 40px;
    margin-bottom: 25px;
}

.about-container {
    display: grid;
    place-items: center;
}

.about-more-container {
    display: grid;
    place-items: center;
}

.about-more-desc {
    max-width: 1800px;
    font-size: x-large;
    margin-bottom: 100px;
}

.about-more-info {
    /*max-width: 70%;*/
    background-color: #f3f3f3;
    max-width: 1000px;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 20px;
    margin-bottom: 100px;
}

.about-info {
    width: 40%;
    padding: 30px;
    text-align: left;
}

.about-info-title {
    font-size: x-large;
    margin-bottom: 10px;
}

.about-info-desc {
    font-size: larger;
    font-weight: 450;
}

.about-info-link {
    color: var(--main-color);
    text-decoration: none;
}

.about-info-link:hover {
    text-decoration: underline;
}

.btn {
    padding: 30px;
    background: var(--main-color);
    color: white;
    text-decoration: none;
    font-size: xx-large;
    border-radius: 50px;
    font-weight: 450;
    transition: 0.5s all;
}

.btn:hover {
    background: #ffff;
    /*box-shadow: 0px 5px 5px 10px rgb(169 169 169 / 0.2);*/
    border: 5px solid var(--main-color);
    color: var(--main-color);
}

.btn-2 {
    background-color: #ffffff;
    padding: 26px;
    margin: 0 15px 0 15px;
    font-size: xx-large;
    border-radius: 50px;
    text-decoration: none;
    color: var(--main-color);
    border: 5px solid var(--main-color);
    font-weight: 450;
    transition: 0.5s all;
}

.btn-2:hover {
    background: var(--main-color);
    color: white;
    border-color: #00006c;
}

/* ====================== Skills Section ====================== */

.skills {
    margin-top: 50px;
    width: 100%;
    height: 80vh;
    text-align: center;
    padding-bottom: 50px;
    border-bottom: 5px solid var(--main-color);
}

.skills-container {
    width: 100%;
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-title {
    font-size: 80px;
    margin: 15px 0px 15px 0;
    color: var(--main-color);
}

.skills-desc {
    font-size: xx-large;
    font-weight: 450;
    margin-bottom: 25px;
}

.skills-container-sec {
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
    background-color: #f3f3f3;
    font-size: xx-large ;
    padding: 30px;
    border-radius: 20px;
    margin-top: 60px;
}

.skill-item {
    width: 45%;
    display: flex;
    align-items: center;
    /*padding: 5px;*/
    background-color: #ffff;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
}

.skill-item i {
    margin-right: 15px;
}

.skill-title {
    font-weight: 500;
}

.skill-status {
    width: 100%;
    font-size: 25px;
    text-align: right;
}

.skill-learning {
    margin-top: 30px;
    margin-bottom: 30px;
}

.skill-learning-title {
    background: #a3cdff;
    text-align: center;
    display: inline-block;
    padding: 25px;
    font-size: 30px;
    border-radius: 20px;
    outline: 5px dashed var(--main-color);
}

.success {
    display: inline-block;
    padding: 5px 10px;
    background: lightgreen;
    border-radius: 20px;
}

.almost {
    display: inline-block;
    padding: 5px 10px;
    background: lightgray;
    border-radius: 20px;
}

.fa-html5 {
    color: orangered;
}

.fa-css3 {
    color: dodgerblue;
}

fa-code {
    color: orangered;
}

.fa-laptop-code {
    color: blueviolet;
}
